/* Importando a fonte de outro site, no caso o google fonts */
@import 'https://fonts.googleapis.com/css?family=Raleway'; 

/* Definindo o estilo de tudo (*) e do "body", o corpo da página */
* {
	font-family: 'Raleway', monospace;
	zoom: 96%;
  }

body {
	display:flex;
	flex-direction: column;
	margin: 0px;
	background: #dd1818;
}

/* Definindo estilo do header, o cabeçalho da página. */
.cabecalho {
	background: #333;
	color: #fff;
	border-bottom: solid 5px #4e4e4e;
	height: 65px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo img{
	height: 55px;
	padding: 5px 0px 0px 10px;
}

.menu-cabecalho {
	flex-grow: 10;
}

.menu-cabecalho ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-cabecalho li {
	margin: 0px 10px;
}

.menu-cabecalho a {
	text-decoration: none;
	color: #eee;
	font-size: 1.3em;
	padding: 10px 15px;
}

.menu-cabecalho a:hover{
	background-color: rgb(199, 199, 199);
	color: #b31217;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* Definindo estilo para o quadro principal */

.principal {
	flex: 1 0 auto;
	display: flex;
	flex-wrap: wrap;
	width: 550px;
	margin: 0 auto;
	background-color: #4b0000;
	padding: 5px 50px 5px 50px;
	border: 0.3em solid #cbcbcb;
	border-radius: 6px;
}

.principal h1 {
	display: flex;
	flex-direction: column;
	background-color: #951717;
	font-size: 60px;
	text-align: center;
	color: #ffffff;
	padding: 5px 10px;
	border-radius: 6px;
}

/* Por fim, trabalhando o rodapé */

.rodape {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 8px 30px;
	margin-top: 10px;
}

.rodape .rodape-esquerda p {
	color:  #8f9296;
	font-size: 14px;
	/* margin: 0; */
}

.rodape .rodape-direita{
	float: right;
	max-width: 180px;
}

.rodape .rodape-direita a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #3b4144;
	border-radius: 15px;

	font-size: 35px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	padding: 5px;
	margin-left: 3px;
}
